@typeparam TItem

<table class="@TableClass">
    <thead class="@HeaderClass">
        <tr>
            @if (UseRowCount)
            {
                <th>#</th>
            }
            @TableHeader
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @if (UseRowCount)
                {
                    _rowCount++;
                    <td>@_rowCount</td>
                }
                @RowTemplate(item)
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>@TableFooter</tr>
    </tfoot>
</table>

@code {

    protected override void OnParametersSet()
    {
        _rowCount = 0;
    }

    private int _rowCount { get; set; }

    [Parameter]
    public bool UseRowCount { get; set; }

    [Parameter]
    public string TableClass { get; set; }

    [Parameter]
    public string HeaderClass { get; set; }

    [Parameter]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public RenderFragment TableFooter { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }
}